:root {
    --target-color: #f7da31;
    --page-color: #ffffff;
    --block-color: #e6e6e6;
    /* --block-color: red; */
    --text-color: #000000;
    --accent-color: #bca623;

    box-sizing: content-box;
}

body {
    background-color: var(--page-color);
    color: var(--body-text-color);
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    /* min-height: 100vh; */
    margin: 0;
    
    height: 100vh;
    overflow: hidden;
    
}

.letter-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
}

#letter-input,
#find-words-btn {
    height: 2em;
    width: 50%;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
}

#letter-input,
#letter-input:focus {
    letter-spacing: 0.25em;
    border: none;
    outline: none;
}

#letter-input {
    text-transform: uppercase;
}

#letter-input::placeholder {
    text-transform: none;
}

#find-words-btn {
    color: var(--accent-color);
    border: var(--accent-color) solid 1px;
}

#find-words-btn:hover {
    background-color: color-mix(in srgb, var(--block-color), transparent 70%);
}

button {
    cursor: pointer;
}

#target-input-label {
    margin: 0;
}

.target-input {
    background-color: var(--block-color);
    border: solid black 0px;
    border-radius: 10px;
    font-size: medium;
    height: 40px;
    width: 40px;
    margin: 3px;
    font-weight: bold;
}

.target-input:hover {
    background-color: color-mix(in srgb, var(--target-color), transparent 70%);
    cursor: pointer;
}

.target,
.target:hover {
    background-color: var(--target-color);
    cursor: default;
    pointer-events: none;
}

/*temp solution:*/
/*need fixed height for scroll to work, but this only works when screen height is full (because input section takes up space)*/
.container {
    padding: 25px;
    overflow-y: clip;

    height: 100%;
}

#display {
    background-color: pink;

    height: 100%;
    margin-bottom: 50px;
    overflow-y: scroll;
}

#word-list-display {
    /* overflow-y: scroll; */
}

/*end sizing sol*/

h1 {
    color: var(--accent-color);
    margin: 0;
}

.hidden {
    display: none;
}

.error-message {
    font-style: italic;
}

/* override the margin within the .letter-input-container  */
#input-error-message-display {
    margin: 0px;
}
